<p id="notice"><%= notice %></p>

<p>
  <strong>Suggestion:</strong>
  <%= @comment.suggestion %>
</p>

<p>
  <strong>Comment text:</strong>
  <%= @comment.comment_text %>
</p>

<%= link_to 'Edit', edit_document_suggestion_comment_path([@suggestion, @comment]) %> |
<%= link_to 'Back', document_suggestion_path(id: @suggestion.id) %>
