<p id="notice" class="alert alert-success"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @author.person %>
</p>

<p>
  <strong>Document:</strong>
  <%= @author.document %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
