<%= javascript_include_tag 'Markdown.Converter', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'document', 'data-turbolinks-track': 'reload' %>

<% if Category.exists? %>
<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </div>

  <div class="text-field">
    <%= f.label :text %>
    <br>
    <div class="document-preview">
      <div class="text-document" >
        <%= f.text_area :text , id: "text-doc" %>
      </div>
      <div class="preview-document" >
        <div id="preview-doc" >

        </div>
      </div>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :categories_id %>
    <%= f.select :categories_id, options_for_select(Category.all.map{|s|[s.title,s.id]}) %>

    <!-- Todavía no hace mucho -->
    <!--%= select_tag 'category-select' , options_for_select(Category.all.collect{|s|[s.title, s.id]}) %-->
    <button type="button" id="add-category" class="Add btn-success btn-sm">
      Add
    </button>
    <div class="create-categories" id="all-categories">
    <% @show_enrollments.each do |enrollment|%>
        <a class="badge badge-info">
          <%= enrollment.category.title %>
        </a>
    <%end%>
    </div>
    <!-- fin de segmento -->
  </div>

  <div class="field form-group">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success btn-sm' %>
  </div>

<% end %>
<%else%>
    <div>
      <%="You must create a category first"%>
    </div>
    <br>
<%end%>
