
<p>
  <strong>Categories:</strong>
    <% @show_enrollments.each do |enrollment|%>
      <a class="badge badge-info">
        <%= enrollment.category.title %>
      </a>
    <%end%>
    <br>
  <strong>Public:</strong>
    <% if @document.public %>
        <%= "Yes"%>
    <%else%>
        <%= "No"%>
    <%end%>
    <br>
  <strong>Like:</strong>
    <button id="like" type='button' class ='btn btn-link'>
      <span class="glyphicon glyphicon-heart">
      </span>
    </button>
</p>

<%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', documents_path, :class => 'btn btn-danger btn-sm' %>
<br>
<br>
<hr>

<div class="container-fluid">
  <strong>Title:</strong>
  <%= @document.title %>
  <div class="text-container">
    <%= markdown(@document.text).html_safe %>
  </div>
</div>

<script>
    $("button").click(function () {
        $(this).toggleClass('active');
        $(this).blur();
    });
</script>