<p>
  <strong>Categories:</strong>
    <% @show_enrollments.each do |enrollment|%>
      <a class="badge badge-info">
        <%= enrollment.category.title %>
      </a>
    <%end%>
    <br>
  <strong>Public:</strong>
    <% if @document.public %>
        <%= "Yes"%>
    <%else%>
        <%= "No"%>
    <%end%>
  <% if person_signed_in? %>
    <div data-id="<%= @document.id %>" id="doc_id"></div>
    <button id="like-button" type="button" class="btn btn-link glyphicon glyphicon-heart gray">
      0
    </button>
  <% end %>
</p>
<% if @is_author %>
    <%= form_for(@author) do |f| %>
        <% if @author.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

              <ul>
                <% @author.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :person_id %>
          <%= f.select :person_id, options_for_select(@not_authors.map{|s|[s.to_s,s.id]}) %>
          <%= f.hidden_field :document_id, value: @document.id %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
    <%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-default btn-sm' %> |
<% end %>
<%= link_to 'Suggestions', document_suggestions_path(@document), :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', documents_path, :class => 'btn btn-danger btn-sm' %>
<br>
<hr>

<div class="container-fluid">
  <strong>Title:</strong>
  <%= @document.title %>
  <div class="text-container">
    <%= markdown(@document.text).html_safe %>
  </div>
</div>