<p id="notice" class="alert alert-success"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @enrollment.category %>
</p>

<p>
  <strong>Document:</strong>
  <%= @enrollment.document %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path, :class => 'btn btn-danger btn-sm' %>
