<p id="notice"><%= notice %></p>
<br>
<br>
<h1>Documents</h1>

<% if @documents.blank? %>
    <h6>There are no documents containing the term "<%= params[:search] %>".</h6>
<% elsif !params[:search].nil? %>
    <h6>Searching for "<%= params[:search] %>" in documents.</h6>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Categories</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td class="text-content"><%= document.text %></td>
        <td class="text-categories">
          <% @show_enrollments.where("document_id = ?", document.id).each do |enrollment|%>
            <span class="badge badge-info">
              [<%= enrollment.category.title %>]
            </span>
          <%end%>
        </td>
        <td class="text-content">
          <% if document.public %>
              <%= "Yes" %>
          <% else %>
              <%= "No" %>
          <% end %>
        </td>
        <td class="table-buttons">
          <%= link_to 'Show', document, :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Edit', edit_document_path(document), :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path, :class => 'btn btn-default btn-sm' %>