

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Categories:</strong>
  <% @show_enrollments.each do |enrollment|%>
      <%= enrollment.category.title %>
  <%end%>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
<br>
<br>
<hr>

<div class="container-fluid">
  <strong>Document View:</strong>
  <%= markdown(@document.text).html_safe %>
</div>