
<br>
<br>
<br>
<br>
<p>
  <strong>Categories:</strong>
  <a class="badge badge-pill badge-info">
    <% @show_enrollments.each do |enrollment|%>
      [<%= enrollment.category.title %>]
    <%end%>
  </a>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
<br>
<br>
<hr>

<div class="container-fluid">
  <strong>Title:</strong>
  <%= @document.title %>
  <div class="text-container">
    <%= markdown(@document.text).html_safe %>
  </div>
</div>