<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-toggleable-xl navbar-light text-white">


      <!-- Brand -->
      <!--a class="navbar-brand">Tarea 1</a>-->

      <!-- Toggler
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->

      <!-- Links -->
      <div class="navbar-brand navigation-bar" id="nav-content">
        <% if person_signed_in? %>
            <div class="btn-group navigation">
              <%= link_to 'Home', root_path, :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Categories', categories_path, :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Documents', documents_path, :class => 'btn btn-default btn-sm' %>
            </div>

            <div class="btn-group profile">
              <kbd class="profile-name">Logged in as <strong><%= current_person.email %></strong></kbd>
              <%= link_to "Edit profile", edit_person_registration_path, :class => 'btn btn-default btn-sm' %>
              <%= link_to "Logout", destroy_person_session_path, method: :delete, :class => 'btn btn-default btn-sm'  %>
            </div>

          <% else %>
            <div class="btn-group profile">
              <%= link_to "Sign up", new_person_registration_path, :class => 'btn btn-default btn-sm'  %>
              <%= link_to "Login", new_person_session_path, :class => 'btn btn-default btn-sm'  %>
            </div>
          <% end %>
      </div>
    </nav>
    <p>
    <div class="search-bar">
      <%= form_tag(documents_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Documents" %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <title>Tarea1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <!--p class="alert alert-success"><%= notice %></p>-->
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
